// fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$overpass: 'Overpass', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

//

// Color vairable
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);

$white: hsl(0, 0%, 100%);
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(240, 10%, 16%);
$very-dark-black-blue: hsl(207, 13%, 34%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);
$very-dark-gray-blue: hsl(237, 17%, 21%);
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $overpass;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

img {
  width: 100%;
}

// container
.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.art-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// logo
.logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: $overpass;
  color: $white;
}

// accordion
.accordion {
  width: 100%;
  padding-bottom: 1rem;
  h2 {
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    font-family: $overpass;
    color: $very-dark-blue;
    cursor: pointer;
    span {
      padding-left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transition: transform 0.3s ease-in-out;
        width: 15px;
        height: 15px;
      }
    }
  }
  div {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    border-radius: 5px;
    width: 100%;
    background-color: rgba($grayish-blue, 0.3);
    padding: 0rem;
    overflow: hidden;
    a {
      padding: 0.5rem 0;
      font-weight: 600;
      font-family: $overpass;
      color: $very-dark-black-blue;
    }
  }
}

.accordion-active {
  h2 {
    color: $very-dark-black-blue;
    span {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
  div {
    max-height: none;
    padding: 1rem;
  }
}
//

// nav-active

.nav-active {
  transform: translateY(0) !important;
}

//

// navbar
header {
  top: 0;
  background-color: transparent;
  min-height: 10vh;
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  z-index: 999;
  .navbar {
    width: 80%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .desktop-nav-links {
      display: none;
    }

    .secondary-nav-links {
      position: absolute;
      transform: translateY(-110vh);
      top: 12vh;
      left: 10%;
      width: 80%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      border: none;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      .second-nav {
        border-top: 2px solid rgba($grayish-blue, 0.4);
        padding-top: 1rem;
        a {
          padding-top: 0.8rem;
          color: $very-dark-blue;
          font-size: 1.2rem;
          font-weight: 600;
          font-family: $overpass;
          display: flex;
          align-items: center;
        }
        .singup-btn {
          background-image: linear-gradient(
            90deg,
            hsl(13, 100%, 72%),
            hsl(353, 100%, 62%)
          );
          padding: 1rem 2.5rem;
          margin-top: 1rem;
          color: $white;
          border-radius: 25px;
          font-weight: 700;
        }
      }
    }

    .burger {
      cursor: pointer;

      div {
        width: 30px;
        height: 2px;
        background-color: $white;
        margin: 0.4rem 0;
        border: none;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
      }
    }
    .burger-active {
      .line1 {
        transform: rotate(45deg) translate(9px, 10px);
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        transform: rotate(-45deg) translate(2px, -3px);
      }
    }
  }
}

#home {
  position: relative;
  min-height: 100vh;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  border: none;
  border-radius: 0px 0 0 100px;
  .bg-pattern {
    position: absolute;
    width: 360%;
    right: -170%;
    top: -35%;
    transform: translate(-1%, 2%);
  }

  .container {
    z-index: 10;
  }
  .home-heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: $white;
    padding: 1rem 0.5rem;
    line-height: 56.32px;
  }
  .home-subheading {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 30.6px;
    color: $white;
    padding: 0 0.5rem;
    padding-bottom: 2rem;
  }
  .home-buttons {
    margin-top: 1.2rem;
    button {
      margin: 0 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.05rem;
      color: $white;
      padding: 1rem 1.2rem;
      border: 2px solid $white;
      border-radius: 2rem;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        background-color: $white;
        color: $light-red;
      }
    }
  }
}

// about

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  margin-bottom: 5rem;

  .title {
    padding: 2rem 0;
    font-size: $overpass;
    color: $very-dark-blue;
    font-weight: 600;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .about-desc {
      .para {
        padding-bottom: 2.5rem;
        .para-title {
          color: $very-dark-blue;
          font-size: 2rem;
          font-family: $overpass;
          font-weight: 700;
          padding-bottom: 1.5rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        .para-desc {
          padding: 0 2.5rem;
          font-weight: 300;
          font-size: 1.1rem;
          font-family: $overpass;
          color: $very-dark-black-blue;
          line-height: 30.72px;
        }
      }
    }

    .about-display {
      padding: 2rem 0;
    }
  }
  .art {
    width: 100%;
    position: relative;
    margin-top: 16rem;
    padding: 8rem 0;
    padding-bottom: 6rem;
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      180deg,
      $very-dark-gray-blue,
      $very-dark-desaturated-blue
    );
    border: none;
    border-radius: 0 80px 0 80px;

    .pattern {
      position: absolute;
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
      top: 0;
      border-radius: 0 80px 0 0;
      .circle-pattern {
        position: absolute;
        width: 190%;
        top: -48%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    .art-display {
      z-index: 2;
      position: absolute;
      top: -28%;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .art-blog {
      z-index: 2;
      .art-blog-title {
        color: $white;
        font-size: 2.8rem;
        font-weight: 700;
        padding: 1rem 0;
      }
      p {
        color: $grayish-blue;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-weight: 300;
        padding: 2rem 1.5rem;
        line-height: 28.16px;
      }
    }
  }
}

//

// feature
#feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  margin-bottom: 5rem;

  .feature-display {
    padding: 2rem 0;
  }

  .feature-desc {
    .para {
      padding-bottom: 2.5rem;
      .para-title {
        color: $very-dark-blue;
        font-size: 2rem;
        font-family: $overpass;
        font-weight: 700;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      .para-desc {
        padding: 0 2.7rem;
        font-weight: 300;
        font-size: 1.1rem;
        font-family: $overpass;
        color: $very-dark-black-blue;
        line-height: 30.72px;
      }
    }
  }
}

//
// footer
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  background-color: $very-dark-grayish-blue;
  padding: 3rem 0;
  border: none;
  border-radius: 0 100px 0 0;
  .container {
    min-height: 100vh;
    justify-content: space-around;
  }
  .footer-logo {
    font-size: 3rem;
    padding-bottom: 3rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;

    .menu-title {
      color: $white;
      font-size: 1.4rem;
      font-family: $ubuntu;
      font-weight: 400;
      padding-bottom: 2rem;
    }
    .menu-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: $grayish-blue;
        font-family: $ubuntu;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 0.5rem 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//

// bottom-Footer
#bottom-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  div {
    padding: 0.5rem 0;
    .name {
      font-size: 1rem;
      color: $white;
      font-weight: 300;
      a {
        color: $white;
      }
    }
  }
  .developer {
    .name {
      a {
        color: #fff7b0;
      }
    }
  }
}

//

@media screen and (min-width: 425px) {
  // home
  #home {
    min-height: 80vh;
    .bg-pattern {
      position: absolute;
      width: 200%;
      right: -60%;
      top: -70%;
    }
  }
  // about
  #about {
    .art {
      margin-top: 20rem;
      padding-top: 20rem;
      .pattern {
        .circle-pattern {
          width: 120%;
          top: -60%;
        }
      }
      .art-display {
        top: -45%;
        width: auto;
      }
      .art-blog {
        p {
          padding: 2rem 3rem;
        }
      }
    }
    .about-content {
      .about-desc {
        .para {
          .para-desc {
            padding: 0 3.5rem;
          }
        }
      }
    }
  }
  // feature
  #feature {
    .feature-desc {
      .para {
        .para-desc {
          padding: 0 3.5rem;
        }
      }
    }
  }
  // footer
  #footer {
    min-height: 60vh;
    justify-content: center;
    .container {
      min-height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .footer-logo {
        padding: 0;
      }
      .menu {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #footer {
    .container {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      width: 80%;
    }
    .menu {
      align-items: flex-start;
      .menu-links {
        align-items: flex-start;
        a {
          font-size: 1rem;
        }
      }
    }
  }
  // bottom-Footer
  #bottom-footer {
    .container {
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
    }
  }

  //
}

@media screen and (min-width: 1023px) {
  .accordion {
    padding: 0 1.5rem;
    margin-top: 1rem;
    position: relative;
    h2 {
      font-size: 1rem;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    div {
      padding: 0 1.8rem;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      position: absolute;
      width: auto;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: $white;
      a {
        color: #000;
        &:first-child {
          padding-top: 1.5rem;
        }
        &:last-child {
          padding-bottom: 1.5rem;
        }
        &:hover {
          text-decoration: underline;
          color: $very-dark-blue;
        }
      }
    }
  }

  //container
  .container {
    width: 80%;
  }

  // header
  header {
    .navbar {
      .left-side {
        display: flex;
        align-items: center;
        .header-logo {
          font-size: 3rem;
        }
        .desktop-nav-links {
          padding-left: 2rem;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
      .secondary-nav-links {
        transform: translateY(0);
        position: static;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        padding: 0;
        .mobile-nav-links {
          display: none;
        }
        .second-nav {
          flex-direction: row;
          padding: 0;
          border: none;
          a {
            margin: 0 1.5rem;
            color: $white;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            padding-top: 0;
          }
          .singup-btn {
            background-image: none;
            background-color: transparent;
            border: 2px solid $white;
            border-radius: 30px;
            padding: 0.7rem 2.5rem;
            margin: 0;
            &:hover {
              background-color: $white;
              color: $light-red;
            }
          }
        }
      }

      .burger {
        display: none;
      }
    }
  }

  // home
  #home {
    .bg-pattern {
      width: auto;
      right: 44%;
      transform: translate(56%, 2%);
      top: -230%;
    }
    .home-heading {
      font-size: 4rem;
      white-space: nowrap;
    }
    .home-subheading {
      font-size: 1.5rem;
    }
  }

  // about
  #about {
    padding-bottom: 5rem;
    margin-bottom: 0;
    .container {
      width: 100%;
      max-width: 100%;
    }
    .title {
      padding: 4rem 0;
      font-size: 2.5rem;
    }
    .about-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;

      .about-desc {
        .para {
          text-align: left;
          .para-title {
            padding-bottom: 1.5rem;
            padding-left: 0;
            padding-right: 0;
            font-size: 1.5rem;
          }
          .para-desc {
            padding: 0;
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }

      .about-display {
        position: relative;
        img {
          position: absolute;
          width: 600px;
          top: 50%;
          left: 20%;
          transform: translate(0%, -50%);
        }
      }
    }
    .art {
      padding: 0;
      min-height: 45vh;
      background-image: linear-gradient(90deg, #2c2d3f, #3f4164);
      .art-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .pattern {
        width: 100%;
        height: 100%;
        min-height: auto;
        left: 0;
        .circle-pattern {
          width: 90%;
          left: 11.5%;
          top: -145%;
        }
      }
      .art-display {
        position: relative;
        top: 0;
        img {
          position: absolute;
          transform: translate(0, -47%);
          top: 50%;
          left: 0;
        }
      }
      .art-blog {
        text-align: left;
        .art-blog-title {
          font-size: 2rem;
        }
        p {
          padding: 0;
          font-size: 1rem;
        }
      }
    }
  }

  #feature {
    .container {
      display: grid;
      text-align: left;
      grid-template-columns: 1fr 1fr;
    }

    .feature-display {
      position: relative;
      img {
        position: absolute;
        width: 700px;
        top: 50%;
        right: 20%;
        transform: translate(0%, -50%);
      }
    }

    .feature-desc {
      .para {
        .para-title {
          padding: 0;
          padding-bottom: 1rem;
          font-size: 1.5rem;
        }
        .para-desc {
          padding: 0;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
  }

  header {
    .navbar {
      width: 100%;
    }
  }

  // home
  #home {
    .bg-pattern {
      top: -190%;
      right: 34.5%;
    }
  }

  #about {
    min-height: 125vh;
    padding: 5rem 0;
    .title {
      padding-bottom: 8rem;
    }
    .about-content {
      max-width: 1280px;
      width: 100%;

      .about-display {
        img {
          width: 1000px;
          left: 37%;
        }
      }
    }
    .art {
      padding: 0;
      min-height: 40vh;
      .pattern {
        .circle-pattern {
          width: 60%;
          left: 25%;
          top: -157%;
        }
      }
      .art-display {
        img {
          width: 500px;
        }
      }
      .art-blog {
        p {
          padding-right: 1rem;
        }
      }
    }
  }

  #feature {
    min-height: 125vh;
    .feature-display {
      img {
        width: 1000px;
        right: 36%;
      }
    }
  }

  #footer {
    .container {
      justify-content: space-between;
      width: 100%;
    }
  }
  // bottom-Footer
  #bottom-footer {
    .container {
      width: 100%;
    }
    div {
      .name {
        font-size: 1.5rem;
      }
    }
  }

  //
}
